<nav class="navbar is-link">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png"
      width="35">
    </a>
    <a class="navbar-item" href="#" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
      WikiSearch
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
